@page "/events"
@inject NavigationManager Navigation
<MudText Typo="Typo.h5">Events</MudText>
<MudButton OnClick=@(e=>Navigation.NavigateTo("/"))>Go Home</MudButton>
<div><MudNavLink Href="/">Home</MudNavLink></div>
@code {

}
