@* <CascadingAuthenticationState> *@
<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
            <NotAuthorized>
                <LayoutView Layout="typeof(Layout.MainLayout)">
                    <MudAlert Severity="Severity.Error">
                        Access denied. Sorry, you are not authorized to access this page.
                    </MudAlert>
                </LayoutView>
            </NotAuthorized>
        </AuthorizeRouteView>
@*         <FocusOnNavigate RouteData="routeData" Selector="input" />
 *@    </Found>
    <NotFound>
        <LayoutView Layout="typeof(Layout.MainLayout)">
            <p>Page not found.</p>
        </LayoutView>
    </NotFound>
</Router>
@* </CascadingAuthenticationState> *@
