@inherits LayoutComponentBase
<header>
	<div>
		<img src="images/newrise-logo.png" />
	</div>
	<br />
</header>
@Body
<footer>
	<br />
	<div>
		<center>
			<small>Copyright &copy; Symbolicon Systems 2024</small>
		</center>
	</div>
</footer>
@code {

}
