<MudAlert Severity=@Severity.Warning>
	For a valid password, it must have all the following:
	<ul>
		<li>At least one uppercase character</li>
		<li>At least one lowercase character</li>
		<li>At least one digit</li>
		<li>At least one symbol</li>
		<li>Minimum of 8 characters</li>
	</ul>
</MudAlert>