@page "/time/{id?}"
@model Newrise.Pages.ServerTimeModel
<html>
<head>
	<title>Server Time</title>
</head>
<body>
	<fieldset>
		<legend><strong>Server Time</strong></legend>
		<div>Time Zone: <i>@Model.Id</i></div>
		<div>Time: <i>@Model.Time</i></div>
	</fieldset>
</body>
</html>
